#vt-bulk-scan-results {
	margin-top: 20px;
}

#vt-bulk-scan-results .progress-bar-container {
	position: relative;
	height: 30px;
	background-color: #ddd;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

#vt-bulk-scan-results .percentage {
	display: block;
	position: absolute;
	line-height: 20px;
	top: 5px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(255,255,255,.3);
}

#vt-bulk-scan-results .progress-bar {
	display: none;
	box-sizing: border-box;
	background-color: #739c21;
	height: 30px;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#91c429),to(#739c21));
	background-image: -webkit-linear-gradient(top,#91c429,#739c21);
	background-image: -moz-linear-gradient(top,#91c429,#739c21);
	background-image: -ms-linear-gradient(top,#91c429,#739c21);
	background-image: -o-linear-gradient(top,#91c429,#739c21);
	background-image: linear-gradient(to bottom,#91c429,#739c21);
	border-width: 1px;
	border-style: solid;
	border-color: #739c21;
	border-bottom-color: #678c1d;
	-webkit-box-shadow: inset 0 1px 0 rgba(193,229,119,.5);
	box-shadow: inset 0 1px 0 rgba(193,229,119,.5);
	width: 0;
	background-position: initial initial;
	background-repeat: initial initial;
	border-radius: 5px;
	-webkit-transition: width 0.2s linear;
	-moz-transition: width 0.2s linear;
	transition: width 0.2s linear;
}

#vt-bulk-scan-results .progress-bar.disable-animation {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#vt-bulk-scan-results .stats {
	width: 100%;
	margin-top: 1em;
	text-align: center;
}

#vt-bulk-scan-results .stats .scanned,
#vt-bulk-scan-results .stats .found-new,
#vt-bulk-scan-results .stats .found-existing {
	font-size: 24px;
	font-weight: bold;
	width: 33%;
}

#vt-bulk-scan-results .log {
	overflow: auto;
	height: 250px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 0 0 4px #ccc;
}

#vt-bulk-scan-results .log li {
	border-top: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 0;
	box-shadow: inset 0 1px 0 #fff;
}

#vt-bulk-scan-results .log li:first-child {
	border-top: 0;
	box-shadow: none;
}